* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Header Section */
.mainmenu {
  background-color: #fff;
  color: #333;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.text-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.text-content p {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: #666;
}

.btn {
  display: inline-block;
  background: #a5683c;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
}

.btn:hover {
  background: #8e5833;
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.circle-1 {
  width: 350px;
  height: 350px;
  background-color: #f3e1d4;
  top: 10;
  left: 40%;
  transform: translate(-50%, 0);
}

.circle-2 {
  width: 250px;
  height: 250px;
  background-color: #d9e6e3;
  bottom: -280px;
  right: 25%;
  transform: translate(50%, 0);
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-around;
  background: #f9f9f9;
  padding: 2rem 1rem;
  text-align: center;
  border-top: 3px solid #ddd;
  border-radius: 999px;
}

.stat h3 {
  font-size: 2rem;
  color: #6f4e37;
}

.stat p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.gallery {
  text-align: center;
  padding: 2rem 1rem;
}

.gallery h2 {
  font-size: 2rem;
  color: #6f4e37;
  margin-bottom: 1rem;
}

.gallery .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.gallery img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery p {
  margin-top: 1rem;
  font-style: italic;
  color: #666;
}
